@import '../../variables.scss';

@media only screen and (max-width: 650px) {
  .first-row-item, .second-row-item {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px white;
  }

  .first-row-item {
    text-align:center;
  }
}

@media only screen and (max-width: 1000px) {
  .list-head {
    display: none
  }

  .first-row-item {
    background-color: $accent-one;
    color: $background;
    font-size: 1.2em;
    padding: 1em;
  }

  .secondary-row-item {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px white;
    align-items: flex-start;
    text-align: left;
  }
}

@media only screen and (min-width: 651px) {
  .first-row-item {
    padding-left: 1.5em;
    text-align: left;
  }
}

@media only screen and (min-width: 1001px) {
  .first-row-item {
    opacity: 65%;
  }
}

.first-row-item {
  font-weight: bold;
}

.first-row-item, .second-row-item {
  padding: 0 .7em;
}

.site-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.list-head {
  background-color: $accent-one;
  color: $background;
  font-size: 1.1em;
  text-align: center;
  font-weight: bold;

  > tr > td {
    padding: 4px;  
  }
}

table {
  margin: 0 auto;
}

.turn-page {
  background: none;
  border: none;
  font-weight: bold;
  font-size: 2em;
  color: $accent-one;
}

.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  > * {
    padding: .5em 1em;
  }
}

.item-count {
  display: flex;
  align-items: center;
  justify-content: center;
}